@import "antd/dist/antd.css";
@import url("https://fonts.googleapis.com/css2?family=Yellowtail&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

body {
  font-family: "Quicksand", cursive;
}

.bkl {
  background-color: rgb(240, 242, 245);
  padding: 50px 150px 50px 150px;
}

.main-footer {
  padding: 50px 100px 30px 100px;
  width: 100%;
  background-color: white;
  bottom: 0;
}

.icon-style {
  float: left;
  margin-right: 12px;
  padding-top: 10px;
}

.icon-display {
  font-size: 20px;
  color: #1ba48d;
}

@media only screen and (max-width: 768px) {
  .main-footer {
    padding: 50px 30px 30px 30px;
  }
  .footer-cr {
    text-align: center;
  }
  .follow-us {
    text-align: center;
  }
}

.ant-input-search .ant-input:hover,
.ant-input-search .ant-input:focus {
  border-color: #b92025;
}

.App {
  text-align: center;
}

.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item:hover,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu:hover,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-active,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-active,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-open,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-open,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-selected {
  color: #b92025;
}

.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item:hover::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu:hover::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-active::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-active::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-open::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-open::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-selected::after {
  border-bottom: 2px solid #b92025;
}

.card-title {
  color: #788b9d;
  font-size: 1.25rem;
  font-weight: bolder;
}

.title {
  color: #1ba48d;
  font-weight: bold;
  font-size: 32px;
}

.desc {
  color: #3d3d3d;
  font-weight: bold;
  font-size: 24px;
}

.desc {
  color: grey;
  font-size: 18px;
}

#components-layout-demo-top-side-2 .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}

.menuCon .ant-menu-item a,
.menuCon .ant-menu-submenu-title a {
  padding: 10px 15px;
}

.rightMenu {
  float: right;
  color: #1ba48d;
  font-weight: bold;
  font-size: 14px;
}

.barsMenu {
  float: right;
  height: 32px;
  padding: 6px;
  padding-top: 10px;
  background-color: "#1ba48d";
  color: "#1ba48d";
  display: none;
  background: none;
}

.barsMenu > span {
  display: block;
}

.ant-drawer-body .ant-menu-horizontal > .ant-menu-item,
.ant-drawer-body .ant-menu-horizontal > .ant-menu-submenu {
  display: inline-block;
  width: 100%;
}

.todopage {
  background-image: url("./Image/todopage-image.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 160px 150px 160px 150px;
}

.panel {
  background-color: #fff;
  box-shadow: 0 3px 8px 0 rgba(124, 119, 119, 0.08);
  margin-bottom: 10px;
  padding: 0px;
  border-radius: 10px;
}

.fontPanel {
  font-size: 12px;
  color: #788b9d;
}

.itemPanel {
  padding: 15px;
}
